<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/main.css">
    <title><%= data.title %></title>
</head>

<body>
    <%- include('common/header', {active: data.active}); %>
    <div class="container main">
        <%- include('common/menu'); %>
        <div class="article-details">
            <h3 class="title">啊啊啊啊啊啊啊啊</h3>
            <p class="time">2013年07月22日 11:52</p>
            <div class="content">滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴滴答滴答滴答滴答滴答滴答滴答滴答滴</div>
        </div>
    </div>
</body>

</html>