<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/reset.css">
    <link rel="stylesheet" href="/public/style.css">
    <title>Document</title>
</head>
<body>
    <div class="f-container">
        <div class="f-aside">
            <div class="f-menu">
                
            </div>
        </div>
        <div class="f-container vertical">
            <div class="f-header">
11
            </div>
            <div class="f-main">
22
            </div>
        </div>
    </div>
</body>
</html>