/*清楚浏览器默认样式*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    background-color: #F0F3FC;
    font-size: 14px;
    font-family: "Helvetica Neue", 'Microsoft YaHei', "微软雅黑";
    color: #666;
    height: 100%;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #666;
}

/*字体图标*/
@font-face {
    font-family: 'iconfont';  /* project id 636337 */
    src: url('//at.alicdn.com/t/font_636337_6242wzyi67pvte29.eot');
    src: url('//at.alicdn.com/t/font_636337_6242wzyi67pvte29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_636337_6242wzyi67pvte29.woff') format('woff'),
    url('//at.alicdn.com/t/font_636337_6242wzyi67pvte29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_636337_6242wzyi67pvte29.svg#iconfont') format('svg');
}
.icon{
    font-family: 'iconfont' !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*时钟*/
.icon-clock::before{
    content: '\e615';
}
/*阅读*/
.icon-watch::before{
    content: '\e73b';
}

/*类*/
/*工具类*/
.clear::after{
    display: block;
    clear: both;
    content: '  ';
}
.left{
    float: left;
}
.right{
    float: right;
}

/*样式类*/
.header{
    height: 59px;
    line-height: 59px;
    background-color: #FFF;
    border-bottom: 1px solid #EBEAEF;
    box-shadow: 0 2px 10px 2px #DDD;
    z-index: 1500;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.brand{
    padding: 0 15px;
    font-size: 18px;
}
.container{
    display: block;
    width: 1190px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.container.main{
    padding-top: 59px;
}
.menu{
    position: absolute;
    background-color: #FFF;
    width: 220px;
    padding: 15px;
    box-shadow: 0 2px 10px 2px #DDD;
}
.menu li>a{
    display: block;
    text-align: center;
    padding: 5px 0;
    border-radius: 20px;
    margin: 10px 0;
    transition: all .25s;
}
.menu li>a.active{
    background-color: #EBEAEF;
}
.menu li>a:hover{
    background-color: #4275F2;
    color: #FFF;
}
.article-list{
    background-color: #FFF;     
    margin-left: 230px;
    height: 100%;
}
.article{
   padding: 40px 20px;
   border-bottom: 1px dotted #CCC;
   cursor: pointer;
   display: block;
}
.article:hover{
    background-color: #EFEFEF;
    transition: all .25s;
}
.article .title{
    height: 45px;
}
.article .title ul{
    color: #999;
}
.article-details{
    background-color: #FFF;     
    margin-left: 230px;
    height: 100%;
    padding: 50px;
}
.article-details .title{
    font-size: 20px;
    margin-bottom: 30px;
}
.article-details .time{
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
}
.article-details .content{
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
    text-indent: 2em;
    line-height: 25px;
    text-align: justify;    
}