<aside class="menu">
    <ul>
        <li><a href="/" class="<% if (data.active == 'index') { %> active <% } %>">首页</a></li>
        <li><a href="/hyper" class="<% if (data.active == 'hyper') { %> active <% } %>">HTML</a></li>
        <li><a href="/style" class="<% if (data.active == 'style') { %> active <% } %>">CSS</a></li>
        <li><a href="/ecma" class="<% if (data.active == 'ecma') { %> active <% } %>">JS</a></li>
    </ul>
</aside>